/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Lexend', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background 1.5s ease;
}

/* MODES */
body.dark {
  background: radial-gradient(circle, #111, #000);
}

body.light {
  background: linear-gradient(to bottom, #ffe7ee, #ffd7ef);
}

/* SWITCH */
#switch {
  position: fixed;
  right: 20px;
  top: 50%;
  width: 40px;
  height: 70px;
  background: #444;
  border-radius: 20px;
  opacity: .4;
  cursor: pointer;
}

.toggle {
  width: 100%;
  height: 50%;
  background: #ccc;
  border-radius: 20px;
  transition: transform .5s;
}

body.light .toggle {
  transform: translateY(35px);
}

/* TEXT */
#typing-text {
  font-size: 28px;
  color: #ff5d8f;
  margin-bottom: 15px;
  opacity: 0;
  transition: opacity 1s;
}

#typing-text.show {
  opacity: 1;
}

#hint {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* CAKE */
.cake-container {
  position: relative;
  width: 220px;
  height: 260px;
}

.layer {
  display: block;
  position: absolute;
  width: 220px;
  height: 60px;
  border-radius: 20px;
  left: 0;
  transform: translateY(-1000px);
  transition: transform 2s ease;
}

.layer1 { 
  background: #ffb3c6; 
  bottom: -22rem;
  z-index: 2;
}

.layer2 { 
  background: #ffc8dd; 
  bottom: -20rem; 
  display:flex; 
  justify-content:space-evenly; 
  align-items:center;
  z-index: 3;
}
.layer3 { 
  background: #ffafcc; 
  bottom: -18rem; 
  z-index: 1;
}

.layer.drop {
  animation: drop 1s forwards;
}

@keyframes drop {
  to { transform: translateY(-400px); }
}

/* DECOR */
.decor {
  width: 30px;
  height: 30px;
  background: pink;
  border-radius: 50%;
}

/* CANDLES */
.candles {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.candle {
  width: 12px;
  height: 65px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transform: translateY(-400px);
  transition: transform 1s ease;
}
.candle.drop {
  transform: translateY(0);
}

.flame {
  transition: opacity 0.5s ease-in-out;
  animation: flicker .2s infinite alternate;
}
.flame.off {
  opacity: 0;
}
.flame.on {
  width: 14px;
  height: 18px;
  background: radial-gradient(circle, #fff176, #ff5722);
  border-radius: 50%;
}

/* AGE */
.age {
  position: absolute;
  top: -80px;
  width: 100%;
  text-align: center;
  font-family: 'Momo Signature', cursive;
  font-size: 32px;
}

/* SPRINKLES */
.sprinkles span {
  position: absolute;
  width: 6px;
  height: 3px;
}

/* CONFETTI */
.confetti-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 14px;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

/* HELPERS */
.hidden {
  opacity: 0;
}

/* RESPONSIVE-MOBILE */

@media (max-width: 480px) {
  #hint {
    margin: 20px;
    text-align: center;
  }
}