/* ===============================
   RESET
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background 1s ease;
}

/* DARK MODE */
body.dark {
  background: radial-gradient(circle, #222, #000);
}

/* LIGHT MODE */
body.light {
  background: linear-gradient(to right, #ffe7ee, #ffd7ef);
}

/* TEXT */
#typing-text {
  font-size: 32px;
  color: #ff5d8f;
  margin-bottom: 25px;
  min-height: 40px;
  opacity: 0;
  transition: opacity 0.8s;
}

#typing-text.show {
  opacity: 1;
}

/* CAKE */
.cake-container {
  position: relative;
  width: 200px;
  height: 240px;
}

/* CAKE LAYERS */
.layer{
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  height: 60px;
  border-radius: 18px;
  transform: translateY(-400px);
  opacity: 0;
}

.layer1 {
  background: #ffb3c6;
  bottom: 0;
}

.layer2 {
  background: #ffc8dd;
  bottom: 30px;
}

.layer3 {
  background: #ffafcc;
  bottom: 60px;
}

.drop {
  animation: drop 0.8s ease-out forwards;
}

@keyframes drop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* CANDLE */
.candle {
  position: absolute;
  bottom: 115px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 45px;
  background: linear-gradient(#fff, #ffd6e0);
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
}

/* CANDLE FLAME */

.flame {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 22px;
  background: radial-gradient(circle, #fff176, #ff9800, #ff5722);
  border-radius: 50%;
  animation: flicker 0.15s infinite alternate;
  display: none;
}

.candle.on .flame {
  display: block;
}

@keyframes flicker {
  to {
    transform: translateX(-50%) scale(1.1);
  }
}

/* SPRINKLES */
.sprinkles {
  position: absolute;
  bottom: 90px;
  left: 10px;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  opacity: 0;
}

.sprinkles span {
  width: 8px;
  height: 4px;
  border-radius: 2px;
}

.sprinkles.show {
  animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

/* CONFETTI */
.confetti-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 14px;
  opacity: 0.8;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}
