body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 3rem;
}

main {
    display: flex;
    justify-content: center;
}
.form-row {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.select-coloumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit-box {
  display: flex;
  align-items: flex-start;
}

#submit {
  font-size: 15px;
  padding: 20px 40px;
  cursor: pointer;
}


.custom-select {
  position: relative;
  position: relative;
  width: 200px;
}

.selected {
  font-family: sans-serif;
  padding: 10px;
  border: 1px solid #ccc;

  cursor: pointer;
}

.options {
  position: absolute;
  top: 0;
  left: 100%; /* ⬅️ muncul di kanan */
  margin-left: 10px;
  background: white;
  border: 1px solid #ccc;
  display: none;
  min-width: 80px;
  max-height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
}

.options div {
  padding: 8px;
  cursor: pointer;
}

.options div:hover {
  background: #eee;
}

.options.open {
  display: block;
}

