body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 3rem;
}

main {
    display: flex;
    justify-content: center;
}
fieldset {
    width: 20rem;
    padding: 10px;
}

.submit-box {
    display: flex;
    justify-content: center;
    margin: 3rem 0 3rem 0;
}

#submit {
    font-size: 15px;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px #ccc;
}


.custom-select {
    position: relative;
    position: relative;
    width: 200px;
}

.selected {
    font-family: sans-serif;
    padding: 10px;
    border: 1px solid #ccc;

    cursor: pointer;
}
.selected.tanggal {
    border-radius: 10px 10px 0 0;
}
.selected.tahun {
    border-radius: 0 0 10px 10px;
}

.options {
    position: absolute;
    top: 0;
    left: 100%; /* ⬅️ muncul di kanan */
    margin-left: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    display: none;
    min-width: 125px;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

.options div {
    padding: 8px;
    cursor: pointer;
}

.options div:hover {
    background: #eee;
}

.options.open {
    display: block;
}

